pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"description": "To fetch records form SF Account and ingest to Accounts table in SQL db",
		"activities": [
			{
				"name": "Lookup Last Run Time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_run_time FROM dbo.sf_watermark\nWHERE object_name = 'Account'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "az_sql_db_watermark_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Data From Accounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Last Run Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceV2Source",
						"query": {
							"value": "SELECT Id, IsDeleted, Name, Type, BillingCity, BillingCountry, AccountNumber,\n       Industry, CreatedDate, LastModifiedDate, SystemModstamp\nFROM Account\nWHERE SystemModstamp > @{formatDateTime(activity('Lookup Last Run Time').output.firstRow.last_run_time, 'yyyy-MM-ddTHH:mm:ssZ')}",
							"type": "Expression"
						},
						"includeDeletedObjects": true,
						"partitionOption": "AutoDetect"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "id"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "picklist"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "String",
									"physicalType": "picklist"
								},
								"sink": {
									"name": "Industry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SalesforceObject1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "az_sql_db_accounts_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup Max Last Run Time",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Data From Accounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceV2Source",
						"query": "SELECT MAX(SystemModstamp) last_run_time From Account",
						"includeDeletedObjects": false,
						"partitionOption": "AutoDetect"
					},
					"dataset": {
						"referenceName": "SalesforceObject1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Last Run Time",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup Max Last Run Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "azure_sql_db_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE dbo.sf_watermark\nSET last_run_time = '@{formatDateTime(activity('Lookup Max Last Run Time').output.firstRow.last_run_time, 'yyyy-MM-dd HH:mm:ss')}',\n    last_run_status = 'Success',\n    record_count = @{activity('Copy Data From Accounts').output.rowsCopied}\nWHERE object_name = 'Account'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Stored Procedure",
				"description": "Stored procedure to delete marked records from sql table.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Last Run Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_DeleteMarkedRecords]"
				},
				"linkedServiceName": {
					"referenceName": "azure_sql_db_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}