pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get data from SF",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookUp Last Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceV2Source",
						"query": {
							"value": "SELECT Id, IsDeleted, Name, Type, BillingCity, BillingCountry, AccountNumber,\n       Industry, CreatedDate, LastModifiedDate, SystemModstamp\nFROM Account\nWHERE SystemModstamp > @{activity('LookUp Last Watermark').output.firstRow.last_run_time}",
							"type": "Expression"
						},
						"includeDeletedObjects": false,
						"partitionOption": "AutoDetect"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "id"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "picklist"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "BillingCity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "BillingCountry",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "string"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "String",
									"physicalType": "picklist"
								},
								"sink": {
									"name": "Industry",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SystemModstamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SalesforceObject1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookUp Last Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_run_time FROM dbo.sf_watermark\nWHERE object_name = 'Account'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azure_sql_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Get data from SF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "azure_sql_db_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE dbo.sf_watermark\nSET last_run_time = @{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')},\n    last_run_status = 'Success',\n    record_count = @{activity('Get data from SF').output.rowsCopied}\nWHERE object_name = 'Account';",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-31T05:34:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}